body {
    background-image: url("images/PillarsOfCreation.png");
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: black;
    margin-right: 73%;
}                                                        

.PhotoshopImage {
    height: 150px;
    width: 150px;
    text-align: center;
    }